body {
  padding-top: 75px;
  background: rgb(219,219,219);
  color: #333;
}

h1, h2, h3, h4 {
	color: rgb(0,40,85);
}

th {
	color: rgb(23,155,144);
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  margin-top: 50px;
}

.navbar a{
	color: #eee !important;
}
.navbar li:hover {
	background: rgba(23,155,144,.9);
}

a {
	color: rgb(23,155,144);
}
a:hover {
	color: rgb(38,170,159);
	text-decoration: none;
}

.inline {
  display: inline;
}

.logout-button {
  background: none;
  border: none;
  color: #f1f1ef;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 50px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}
.logout-button:focus {
  outline: none;
}
.logout-button:hover {
	background: rgba(23,155,144,.9);
}

.navbar {
	background: rgba(0,40,85,.9);
	color: #eee;
}

.btn-primary {
	background: rgb(23,155,144) !important;
	color: #eee !important;
}
.btn-primary:hover {
	background: rgba(23,155,144,.7) !important;
}

.btn-blue {
	background: rgb(0,40,85);
	color: rgb(219,219,219);
}
.btn-blue:hover {
	background: rgba(0,40,85,.7);
}

.block {
	border-right: 1px solid rgb(23,155,144);
	border-bottom: 1px solid rgb(23,155,144);
	padding: 10px;
	background: white;
	margin: 10px;
}
.block h2, .block h3 {
	text-align: center;
}
#classNameHeader {
	text-align: left;
	margin-left: 20px;
}

.grade {
	margin-right: 25px;
}
.list-group {
	padding: 10px;
	max-width: 500px;
	margin: 0 auto;
}
.inputScore {
	height: 25px;
	width: 75px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#narrow-block {
	width: 60%;
	margin: 0 auto;
}

#social i{
    font-size: 65px;
    padding: 10px 0;
    margin: 0 10px;
}

@media only screen and (max-width: 1500px) {
    #social i {
        font-size: 50px;
    }
}
@media only screen and (max-width: 1050px) {
    #social i {
        font-size: 40px;
    }
	#narrow-block {
	width: 75%;
}
}
@media only screen and (max-width: 650px) {
    #social i {
        font-size: 25px;
		margin: 0 5px;
    }
	#narrow-block {
	width: 95%;
}
}
    
#social i {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#social i:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

.footer{
	margin-top: 50px;
	height:70px;
	text-align:center;
	padding-top:20px;
	background: rgb(0,40,85);
}



